{% extends "baseBack.html.twig" %}
{% block body %}
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Modifier Produit</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
             
                  {{ form_start(Fprod,{'attr': {'novalidate': 'novalidate'}} ) }}
                <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputPassword1">Nom Produit </label>
                    {{ form_widget(Fprod.nomProduit, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(Fprod.nomProduit,{'attr':{"class":"mb-0"}}) }}
                  </div>

               
                  <div class="form-group">
                    {{ form_label(Fprod.prixProduit,"Prix Produit") }}
                    {{ form_widget(Fprod.prixProduit,{'attr':{"class":"mb-0"}}) }}
                    {{ form_errors(Fprod.prixProduit,{'attr':{"class":"mb-0"}}) }}
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Quantite</label>
                    {{ form_widget(Fprod.quantiteProduit, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(Fprod.quantiteProduit,{'attr':{"class":"mb-0"}}) }}
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Description </label>
                    {{ form_widget(Fprod.descProduit, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(Fprod.descProduit,{'attr':{"class":"mb-0"}}) }}
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Image </label>
                    {{ form_widget(Fprod.image, {'class': 'form-control'}) }}
                    {{ form_errors(Fprod.image,{'attr':{"class":"mb-0"}}) }}
                    
                  </div>
                  {{ form_widget(Fprod.Edit, {'attr': {'class': 'btn btn-info'}}) }}
                </div>
                <!-- /.card-body -->

                
             {{ form_end(Fprod) }}
             
            </div>
            <!-- /.card -->

          

          </div>

        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}